<form class="row gy-2 gx-3 align-items-center" id="myForm">
  <div class="col-auto">
    <label class="visually-hidden" for="autoSizingInput">Email</label>
    <input type="email" name="email" class="form-control" id="autoSizingInput" placeholder="Your Email">
  </div>
  <div class="col-auto">
    <button type="submit" id="submitButton" class="btn btn-primary">Send</button>
  </div>
  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</form>